@using FanFormulaFramework.BusinessService.Models;
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>@ViewData["TitleName"]</title>
</head>
<body>
    <div>
        @ViewData["Message"]
        @{
            InterFaceStateList list = new InterFaceStateList();
            if (ViewData["InterFaces"] != null)
            {
                list = (InterFaceStateList)ViewData["InterFaces"];
            }

            foreach (var item in list.interfaceStates)
            {
                <div>@item.InterFaceName</div>
                <div>@item.InterFaceStated</div>
                <div>@item.Remarke</div>
            }
        }


    </div>

</body>
</html>